sudo: required

language: java
services:
  - docker
  


env:
  global:
    - secure: "RVt9KJBHBwuq/fFFP8H43dtEJ032JPsuQvW/zIPjhthvzabX0tI+w850cEkd6AxkGRcv+bvP6pEIPZ57kogUz90iyobBxVyjT/xSHAZwfFZYMb1o8uTn51BjVq+WkilgNtNrmWWiGvDjFn0AHTqSs0qutGSIl/S5q1xveOMa8hAmURMt1TQ638bCw3rvNWcbh3FYUXO9Ss1lM0BvTNTBPFY/Q3N4V+51QpROhiOXk2YWo2TPv4gxE+JbYyVcDdq7GDCZHAatm1PSk1rsc1y1rJTK0wBAIjty/fFvIO6SZAUpgIYNNgYSTtxvahqscabJDfNfXOG7Bmo4Y/ejXAEZwTqUVuEDktXYJJfp4u0lycJ3AvdYJ0Ey9IPlfpkqbINUd22lkvNep1/sflNCk2cyDs+L4LSQOXdgtjxnBCdSFEilLXtZtoOlfG59WAoFSMIcMwkSl3PkoD7jYvyJR9A/a0OCaypeiyjemhtWLn+EPUkKLLJFi0cZj4VJBRpj2l+tuzqe4cfih95i1W0erK7kJLfzVaEZN69FNUbpMtoj+yvZmqXhYAuN3OZMNSs6Rp1ZV8hQG+qiUa+csYfHjc552xzCTcapJQQfoIHrxtyOGCpPm2R1LZwqlrAFfNBvA8uV12buR4C8ZYmAtM4g9OZwjuxGMeKVz6vuS63og80qA/Y=" # DOCKER_EMAIL
    - secure: "J5Z4LmN8yqPFezlB3fdZk22hTiVdRbTkoxu3Ce5as8IwT/lqMk/V517mLHBPfHxLo3Y11rqj+Ro/reo85dunRCM3qlk0eo4JYPZiOR4ZDuH98VVrtR02g56RRpRnfJCLLLXM3qsNIuJ1KRW+O1LMlLeKSndi+nLB570JlhjoNyWwIkw82KJMylnEzaNJhWaitqTfKe0u+mhb1GEVEqQQzSum5HIwpw9eeZiPas8aIYO+sxHNKK6r7slR5EUrPr9m/hnAeyeAf07NBAcIAvrIAd1jpKlZKIeZyNdLa6s8qG81HB3Kz81PVzkBfuaa8+fZ/ZSzqdAyZ8aoS91h3QCwo/LtFJH8yoqSEN7gZzSR0SM2gENNzVakDvNfuKDYkDHxubNWXoQanK9v/18JOFi4tYkQUJha8F+QwGJYy+JCS8bxdmfByelcdsKPGV8O6o5NZNzdK+xj+Qr5+uEfRASX+2u3t6v636YoSrBYNPen6P3afM3XMtjLztUec1+eTbARBQHV1ZiasZxxBY4cT/VW8lbLG7WqAymnuIVWbaOoHSm7QWtD1t/Pt74n7kNcP3X1qNYXaK55MtBZuzZC26VD2DdL+FTyKQBBxVxuNAn5Tyej4oFU+I+3+sZtReb6n2Hal4llUe+qrCdyfNsWv3sV3WzNkVjxXydOJTyUl5vYTTA=" # DOCKER_USER
    - secure: "qWcd9KOWVf6IoDG7zlb9BeKbbEO9hS8PH1ExdZgv+5V/ajlboqsn91rcC1AClA98qOiG3u3BKMjddwBEv58CBmRP+dYtg//PAbgCRUBOcwjNaAXo/Fu2fNAfLxojrP9ulFsuJ4gkusFUS4luUr5MbeyCRu5ZNFzolHCz7srDXgrllZZeqaCJBrKYSxEesmzphmn1+FdI34nYIUug0bUBT/sL+d2F7xjCx7HQJTTMBw0b9dUmql/6LHqy2HTGTbxCcBpVgXwy4zPpCBmlhFpdMhpHGe8Bda/tlrhvpM6THqOfJv/Vim7xalHL3XM1OD4wvuv4O8m0UNGDfSvPNzJil9KblTD3DDTDQdBIWhEbpwwyddujTQJZH2yCqZYeQMLxV41GqKDR1L8wFZntEvxYJpuhTn/vrRlFPpftFiWDbmipRZ+Jir0ugRxTrpxbJ8aBRk4/qQ+S/yBPqfEU7inMECMqg8phtqHuZlxdsFQC/3OiED5Fas2b3IdoGKCXn0Cm+1QTAn784sly+0qtYzsomhzSSRvUaYc4/G+KuR56x6lEjTBeNAx+T6hNB5syfuAaW4fMYbDsDHlQddJBIDmXK7KFoi6zzqLo/cQSqeRVDt7yEMbzmgbsheyPInU4n1z5U7hVdVkPc+H8mtE4+Y8i62omHNWbi5Yj4CwudrmFgt4=" # DOCKER_PASS
    - COMMIT=${TRAVIS_COMMIT::8}


install:
- cd Server
- docker images
- docker build -t serverimage:v1 .
- docker network create t_network
- docker run --network-alias server --network t_network -it serverimage:v1 &
- docker run --rm -v "$PWD":/usr/src/project -w /usr/src/project gradle gradle -q check
- docker run --network t_network -it --rm -v "$PWD":/usr/src/project -w /usr/src/project gradle gradle -q build --info --stacktrace --debug --scan

